/* reset universal styling */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
}

/* background styling */
body {
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url(https://deswal.ru/newyear/1600-1200/00000456.jpg);
    background-color: rgb(0, 54, 12);
}

.box-container {
    background-color: rgb(245, 255, 155);
    width: 600px;
    height: auto;
    margin: 80px auto 0;
    border-radius: 20px;
    box-shadow: 2px -3px 8px rgba(0, 185, 0, 0.5),
    -4px 2px 8px rgba(0, 185, 0, 0.5);
}

/* header styling */
header {
    height: 180px;
    width: 100%;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    color: rgb(232, 255, 227);
    background-color: rgb(12, 90, 44) ;
    text-align: center;
    background-image: url(https://www.teahub.io/photos/full/56-569356_how-the-grinch-stole-christmas-image-data-src.jpg);
    background-position: -645px -190px;
    background-blend-mode: overlay;
    font-family: 'Henny Penny', cursive;
}

h1 {
    font-size: 52px;
}

/* input field */
.add-task-container {
    height: 60px;
    display: flex;
}

#edit-inputfield, 
#add-task-field {
    width: 80%;
    border: none;
    background-color: rgb(69, 83, 73);
    padding: 10px 30px;
    font-size: 24px;
    color: rgb(232, 255, 227);
    outline: none;
    font-family: 'Architects Daughter', cursive;
}

::placeholder {
    color: rgb(178, 196, 183);
    font-family: 'Architects Daughter', cursive;
}

  /* buttons styling */
.btn {
    cursor: pointer;
    border: none;
    color: rgb(232, 255, 227);
    transition: background-color 0.3s ease;
    outline: none;
    font-family: 'Henny Penny', cursive;
}  

.add-task-btn {
    width: 20%;
    font-size: 20px;
    background-color: rgb(122, 228, 0);
}

.add-task-btn:hover {
    background-color: rgb(0, 228, 68);
}

/* Style the list items */
#task-list {
    list-style: none;
    padding-bottom: 20px;
}

.list-item {
    font-family: 'Architects Daughter', cursive;
    width: 100%;
    font-size: 20px;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(97, 145, 58);;
}

/* checkbox */
.markAsDone {
    cursor: pointer;
    margin: 0px 30px;
}

/* When clicked on gray out items */
.checked {
    color:rgba(69, 83, 73, 0.5);
}

/* When clicked on strike out text */
.checked label {
    text-decoration: line-through;
}

label {
    cursor: pointer;
    margin-right: 30px;
    width: 65%;
}

/* styling "edit" and "trash" icons */
.btns-container {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.fa-trash-alt,
.fa-edit {
    cursor: pointer;
    transition: color ease 0.3s;
}

.fa-edit:hover {
    color: rgb(122, 228, 0);
}

.fa-trash-alt:hover {
    color:  rgb(255, 0, 55);
}

/* styling the hidden/dynamic "edit-inputfield" */
#edit-inputfield {
    height: inherit;
}

.edit-btns-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: inherit;
}

.save-btn,
.cancel-btn {
    height: 50%;
    transition: background-color ease 0.3s;
}

.save-btn {
    background-color:  rgb(122, 228, 0);
}

.cancel-btn {
    background-color: rgb(255, 0, 55);
}

.save-btn:hover {
    background-color: rgb(0, 228, 68);
}

.cancel-btn:hover {
    background-color: crimson;
}